.idea/
desktop.ini
test.py
week1/desktop.ini
week2/desktop.ini
week4/desktop.ini
week5/__pycache__/
week5/desktop.ini
week5/number_of_zeros.py~
week6/desktop.ini
week6/output.txt
week6/output_participatns_sort.txt
week7/desktop.ini
week7/dict_test.py
week7/output.txt
week7/index.txt
test.txt
week7/input.txt